html body
{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

ul li
{
  display: inline-block;
  padding-left: 70px;
}

a{
  text-decoration: none;
  color: white;
}

nav{
  position: relative;
}

.head{
  padding-top: 0;
  background: url("../Assets/background.png"),linear-gradient( 45deg, rgb(0,91,234) 0%, rgb(0,198,251) 100%);
  height: 300px;
  margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-header
{
  float: left;
}

.navbar{
  padding-left: 400px;

}

.navbar-buttons{
  float: right;
  margin-top: -36px;
  padding-right: 50px;
}

#in{
  border: 1px solid white;
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

#up
 {
   padding: 6px 20px 6px 20px;
   color: #005bea;
   text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
   font-weight: 600;
   border-radius: 25px;
   box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
   background-color: white;
 }
